@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf);
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: #C7E9D8;
    --cor1: #86E0AA;
    --cor2: #3EDC83;
    --cor3: #31A668;
    --cor4: #195B37;
    --cor5: #043C20;

    --font-h1:  "Bebas Neue";
    --font-padrao: "arial";
}

body{
    background-color: #dfe9b4;
    font-family: var(--font-padrao);
}

.externo::after{
    content: '\00A0\1F517';
}


header{
    
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    height: 150px;
    text-align: center;
    padding-top:40px;
}

header > h1{
    font-family: var(--font-h1);
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.414);
    font-weight: normal;
}

header > p{
    color: white;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    margin-bottom: 30px;
    padding: 0px 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.389);
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.218);
}

nav > a{
    padding: 10px;
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}

main{
    background-color: white;
    max-width: 800px;
    min-width: 300px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.344);
    margin: auto;
    margin-bottom: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

main h1{
    font-family: 'Android', sans-serif;
    color: var(--cor5);
    font-weight: normal;
}


main  h2{
    font-family: 'Android', sans-serif;
    color: var(--cor4);
    font-size: 1.5em;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    text-indent: 8px;
}

main img{
    width: 100%;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
}

main a{
    background-color: var(--cor0);
    padding: 2px 5px;
    color: var(--cor5);
    text-decoration: none;
    transition-duration: 0.4s;
    font-weight: bold;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor3);
}

#imgpequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

.video{
    background-color: #043C20;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 45%;
}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;

}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.227);
}

aside > h3{
    color: white;
    padding: 10px;
    background-color: var(--cor5);
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.282);
}

aside > ul{
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;

}

footer a:hover{
    text-decoration: underline;
    color: #C7E9D8;
}